.form__fieldset {
    border-radius: 5px;
    margin-bottom: 20px;
}

.form__legend {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 20px;
    background-color: rgb(208, 227, 252);
    border-radius: 5px;
}

.form__amountField {
    padding: 10px;
    max-width: 300px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid grey;
    line-height: 1px;
    margin-top: 20px;
}

.form__amountField:invalid {
    border: 2px solid red;
}

.form__labelText {
    margin-right: 5px;
    max-width: 150px;
    width: 100%;
    display: inline-block;
    font-size: 20px;
}


.button {
    display: block;
    padding: 15px;
    max-width: 300px;
    width: 100%;
    margin: 50px auto 0;
    border: 2px solid rgb(208, 227, 252);
    font-size: 20px;
    font-weight: bold;
    border-radius: 50px;
    background-color: rgb(208, 227, 252);
}

.button:hover {
    background-color: rgb(161, 198, 247);
    border-color: rgb(161, 198, 247);
    cursor: pointer;
}

.button--reset {
    margin-top: 5px;
}

.form__paragraph {
    margin-top: 40px;
    font-size: 20px;
}

.form__paragraph--exchangeRate {
    font-size: 16px;
    color: rgb(161, 198, 247);
    font-weight: bold;
    text-align: center;
}

.form__amount {
    margin-right: 5px;
    max-width: 150px;
    width: 100%;
    display: inline-block;
    font-size: 20px;
}